@import "../utils/variables";

.cards__title {
  font-weight: 700;
  letter-spacing: $mainletterspacing;
  text-align: center;
  color: $color_2;
  padding-left: 20px;
  font-family: $font-family_3;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-auto-rows: auto;
  grid-gap: 30px;
  justify-content: center;
  padding-bottom: 94px;
}
.cards__item {
  box-sizing: border-box;
  border: 1px solid $border-color_2;
  transition: box-shadow $maintransition;
  &:hover {
    box-shadow: 0px 1px 1px $color_12, 0px 4px 4px $color_13,
      1px 4px 6px $color_14;
    cursor: $maincursor;
  }
}
.cards__description {
  color: $color_3;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: $mainletterspacing;
  padding-left: 20px;
}

.cards__content {
  height: 110px;
}
.cards__image-container {
  height: 294px;
  overflow: hidden;
  position: relative;
  &:hover {
    .cards__image-overlay {
      transform: translateY(0px);
    }
  }
}
.cards__image-overlay {
  height: 294px;
  width: 370px;
  position: absolute;
  background: $background-color_9;
  transform: translateY(101%);
  transition: transform 250ms linear;
  font-family: $font-family_3;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: $mainletterspacing;
  padding: 60px 30px;
  color: $color_1;
}
