// colors
$color_1: #ffffff;
$color_2: #212121;
$color_3: #757575;
$color_4: #2196f3;
$color_5: rgba(255, 255, 255, 0.6);
$color_6: rgba(117, 117, 117, 0.5);
$color_7: rgba(33, 150, 243, 1);
$color_8: #ececec;
$color_9: rgba(0, 0, 0, 0.15);
$color_10: rgba(0, 0, 0, 0.1);
$color_11: rgba(0, 0, 0, 0.08);
$color_12: rgba(0, 0, 0, 0.12);
$color_13: rgba(0, 0, 0, 0.06);
$color_14: rgba(0, 0, 0, 0.16);
$color_15: rgba(0, 0, 0, 0.14);
$color_16: rgba(0, 0, 0, 0.2);

//fonts
$font-family_1: "Roboto", sans-serif;
$font-family_2: "Raleway";
$font-family_3: "Roboto";

//backgrounds
$background-color_1: rgba(47, 48, 58, 0.4);
$background-color_2: rgba(255, 255, 255, 0.1);
$background-color_3: #2196f3;
$background-color_4: #ffffff;
$background-color_5: rgba(0, 0, 0, 0.2);
$background-color_6: transparent;
$background-color_7: #2f303a;
$background-color_8: #f5f4fa;
$background-color_9: rgba(33, 150, 243, 0.9);
$background-color_10: rgba(47, 48, 58, 0.8);

//border-color
$border-color_1: #2196f3;
$border-color_2: #eeeeee;
$border-color_3: rgba(175, 177, 184, 1);
$border-color_4: rgba(0, 0, 0, 0.1);
$border-color_5: rgba(33, 33, 33, 0.2);
$border-color_6: rgba(255, 255, 255, 0.3);

//other
$maincursor: pointer;
$mainwidth: 100%;
$containerwidth: 480px;
$maingap: 30px;
$maintransition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$centerelement: 0 auto;
$mainlineheight: 1.93;
$mainletterspacing: 0.03em;
$mainborder: none;

//fills
$fill_1: #757575;
$fill_2: #2196f3;
$fill_3: #ffffff;
$fill_4: #afb1b8;
